a{
    text-decoration: none;
}
th, td{
    vertical-align: middle;
}
.section{
    width: 60%;
    margin: auto;
}
.title{
    background-color: black;
    margin-bottom: 2rem;
    padding: 1rem;
    color: #fff;
}
.breadcrumb-item.active{
    font-weight: 500;
    color: darkgreen;
}